.l-header {
  position: relative;
  margin: 0 auto;
  width: $site-width;
  min-height: $space_5l;
  margin-bottom: $space_l;
  border: 1px solid transparent;
  border-bottom: 1px solid #f3f3f3;

  @media (max-width: 850px) {
    width: 100%;
  }



  &__static-top {
    z-index: 100;
    border-width: 0 0 1px;
  }
  &__site-title {
    float: left;
    padding: 15px 30px;
    font-size: $font_size_l;
    line-height: $space_xxl;

    @include mq() {
      font-size: $font_size_s;
    }
  }
  &__right {
    float: right;
    padding: 15px 30px;
    .nav {
      display: flex;

      li {
        margin-right: 10px;
      }
      .user-icon {
        display: flex;
        .user-name {
          margin-top: 5px;
          @include mq() {
            font-size: $font_size_s;
          }
        }

        .trim {
          display: flex;
          position: relative;
          overflow: hidden;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .trim img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          height: 100%;
          line-height: 25px;
        }
      }
    }
  }
}
