@media (min-width: 850px) {
.wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: $space_xl auto 0;
  width: $site-width;
  min-height: 100vh;
  }
}

@media (min-width: 850px) {
  .l-main {
    order: 2;
    width: 100%;
  }
}
