.wrapper {
  flex: 1;
  display: flex;
  width: $site-width;
  margin: 0 auto;

  @include mq($breakpoint: md) {
    width: $site-width_tab;
  }

  @include mq() {
    flex: auto;
    display: block;
    width: auto;
  }
}

.l-main {
  position: relative;
  height: 100vh;
  width: 100vh;

  @include mq() {
    padding: 10px 0 0 30px;
    width: 45vh;
  }

  @include mq($breakpoint: md) {
    width: 45vh;
  }

}
