.l-sidebar {
  position: relative;
  padding: 0 30px 30px 30px;
  float: left;

  @include mq() {
    width: 85%;
  }

  .l-sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: $background-color_body;
    position: relative;
    overflow: auto;

    @include mq() {
      padding-right: 0;
      padding-left: 0;
      width: 300px;
    }
    li a {
      display: block;
      color: $font_color_default;
      padding: 8px 16px;
      text-decoration: none;
    }
    li a.active {
      background-color: $font-color_sub1;
      color: white;
    }
    li a:hover:not(.active) {
      background-color: $color_corp-hover;
      color: white;
    }
  }
}
