@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #00aaf2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.l-header {
  position: relative;
  width: 980px;
  min-height: 40px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-bottom: 1px solid #f3f3f3;
}

@media screen and (max-width: 414px) {
  .l-header {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .l-header {
    width: 100%;
  }
}

.l-header__static-top {
  z-index: 100;
  border-width: 0 0 1px;
}

.l-header__site-title {
  float: left;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (max-width: 414px) {
  .l-header__site-title {
    font-size: 12px;
  }
}

.l-header__right {
  float: right;
  padding: 15px 30px;
}

.l-header__right .nav {
  display: -webkit-box;
  display: flex;
}

.l-header__right .nav li {
  margin-right: 10px;
}

.l-header__right .nav .user-icon {
  display: -webkit-box;
  display: flex;
}

.l-header__right .nav .user-icon .user-name {
  margin-top: 5px;
}

@media screen and (max-width: 414px) {
  .l-header__right .nav .user-icon .user-name {
    font-size: 12px;
  }
}

.l-header__right .nav .user-icon .trim {
  display: -webkit-box;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.l-header__right .nav .user-icon .trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  line-height: 25px;
}

.container {
  position: relative;
  width: 100%;
  height: auto !important;
  min-height: 100vh;
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  width: 980px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 720px;
  }
}

@media screen and (max-width: 414px) {
  .wrapper {
    -webkit-box-flex: 1;
            flex: auto;
    display: block;
    width: auto;
  }
}

.l-main {
  position: relative;
  height: 100vh;
  width: 100vh;
}

@media screen and (max-width: 414px) {
  .l-main {
    padding: 10px 0 0 30px;
    width: 45vh;
  }
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 45vh;
  }
}

.l-sidebar {
  position: relative;
  padding: 0 30px 30px 30px;
  float: left;
}

@media screen and (max-width: 414px) {
  .l-sidebar {
    width: 85%;
  }
}

.l-sidebar .l-sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f5f5f5;
  position: relative;
  overflow: auto;
}

@media screen and (max-width: 414px) {
  .l-sidebar .l-sidenav {
    padding-right: 0;
    padding-left: 0;
    width: 300px;
  }
}

.l-sidebar .l-sidenav li a {
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

.l-sidebar .l-sidenav li a.active {
  background-color: #f25574;
  color: white;
}

.l-sidebar .l-sidenav li a:hover:not(.active) {
  background-color: #00aaf2;
  color: white;
}

.c-form__input {
  color: #545454;
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.c-form__input-digits {
  width: 35%;
  -webkit-box-flex: 1;
          flex: 1;
}

.c-form__input-textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.c-form__input-date {
  width: 50%;
}

.c-form__inline-flex {
  display: -webkit-inline-box;
  display: inline-flex;
  line-height: 40px;
}

.c-form__heading {
  padding: 10px 15px 0 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

form img {
  width: 25%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #545454;
  padding: 1em;
  margin: 0;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
  text-align: center;
}

button[type=submit],
input[type=submit] {
  border: none;
  padding: 15px 30px;
  margin-bottom: 15px;
  background: #0000cd;
  color: white;
  float: right;
}

button[type=submit]:hover,
input[type=submit]:hover {
  background: #00aaf2;
  cursor: pointer;
}

a.btn {
  display: inline-block;
  font-size: 0.9em;
  width: 50px;
  margin-right: 20px;
  border: 1px;
}

a.btn-edit {
  background-color: #98fb98;
}

a.btn-edit:hover {
  background-color: #00aaf2;
  color: #fff;
}

a.btn-del {
  background-color: #ff69b4;
}

a.btn-del:hover {
  background-color: #00aaf2;
  color: #fff;
}

.btn-block {
  padding: 10px 0;
  display: -webkit-box;
  display: flex;
}

.cp_tab *,
.cp_tab *:before,
.cp_tab *:after {
  box-sizing: border-box;
}

.cp_tab > input[type=radio] {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: none;
}

.cp_tab .cp_tabpanel {
  display: none;
}

.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
  display: block;
}

.cp_tab > label {
  position: relative;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 0;
}

.cp_tab > label:hover,
.cp_tab > input:focus + label {
  color: #00aaf2;
}

.cp_tab > input:checked + label {
  margin-bottom: -1px;
  border-color: #cccccc;
  border-bottom: 1px solid #ffffff;
  border-radius: 6px 6px 0 0;
}

.cp_tab .cp_tabpanel {
  padding: 0.5em 1em;
  border-top: 1px solid #cccccc;
}

@media screen and (max-width: 414px) {
  .cp_tab {
    width: 100%;
    font-size: 0.8em;
  }

  .cp_tab label {
    padding: 0.5em;
  }
}

.alert {
  color: red;
}

.c-pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.c-pagination li {
  display: inline-block;
}

.c-pagination li a {
  display: block;
}

.c-pagination-page-item,
.c-pagination-page-number {
  float: left;
  color: #000;
  padding: 4px 8px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.c-pagination-page-item:hover,
.c-pagination-page-item a:hover {
  background-color: #00aaf2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
}

.balloon {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

@media screen and (max-width: 414px) {
  .balloon .faceicon {
    width: 60px;
  }
}

.balloon .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon .chatting {
  width: 540px;
}

@media screen and (max-width: 414px) {
  .balloon .chatting {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .balloon .chatting {
    width: 450px;
  }
}

.chat-user-name {
  padding-left: 100px;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

@media screen and (max-width: 414px) {
  .says {
    margin: 5px 0 0 75px;
  }
}

.says :after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says .says p {
  margin: 0;
  padding: 0;
}

.form-m0a {
  width: 300px;
  margin: 0 auto;
}

.form-login a {
  display: block;
  margin: 40px 0 0;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

