@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #00aaf2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.l-header {
  position: relative;
  margin: 0 auto;
  width: 1020px;
  min-height: 60px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-bottom: 1px solid #f3f3f3;
}

@media (max-width: 850px) {
  .l-header {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .l-header {
    width: 95%;
  }
}

.l-header__static-top {
  z-index: 100;
  border-width: 0 0 1px;
}

.l-header__site-title {
  float: left;
  padding: 30px 0px 30px 30px;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .l-header__site-title {
    padding: 20px 0px 30px 5px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .l-header__site-title {
    padding: 20px 0px 30px 5px;
    font-size: 14px;
  }
}

.l-header__right {
  float: right;
  font-size: 24px;
  padding: 30px 0px 30px 0px;
}

@media (max-width: 768px) {
  .l-header__right {
    padding: 20px 5px 30px 0px;
    font-size: 14px;
  }
}

.l-header__right .nav {
  position: relative;
  list-style: none;
}

.l-header__right .nav li {
  position: relative;
  float: left;
  border: 1px solid #fff;
}

.l-header__right .nav li .nav-single {
  margin-top: 3px;
}

.l-header__right .nav .nav::after {
  display: block;
  clear: both;
  content: "";
}

#menu {
  list-style-type: none;
  width: 300px;
  height: 40px;
  padding: 0;
  z-index: 100;
}

@media (max-width: 786px) {
  #menu {
    width: 200px;
    font-size: 12px;
  }
}

#menu li {
  position: relative;
  width: 55%;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
}

#menu li a {
  display: block;
  margin: 0;
  padding: 8px 5px 8px 0;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
}

@media (max-width: 786px) {
  #menu li a {
    font-size: 12px;
  }
}

#menu li ul {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

#menu li ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#menu li ul li a {
  padding: 13px 5px 13px 15px;
  background: #f5f5f5;
  text-align: right;
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 786px) {
  #menu li ul li a {
    font-size: 12px;
  }
}

#menu li:hover > a {
  background: #00aaf2;
  color: #e0dc62;
}

#menu li:hover ul li {
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}

#menu li:hover ul li:first-child {
  border-top: 0;
}

#menu li:hover ul li:last-child {
  border-bottom: 0;
}

@media (min-width: 850px) {
  .container {
    position: relative;
    width: 1020px;
    height: auto !important;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    overflow: hidden;
  }
}

.wrapper {
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin: 20px auto 0;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .wrapper {
    -moz-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    width: 95%;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 97%;
    margin: 0 5px 0 5px;
  }
}

.wrapper .l-main {
  -moz-order: 2;
  -o-order: 2;
  -ms-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
  -moz-flex: 1;
  -o-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  width: 100%;
}

.l-sidebar {
  padding: 0 10px 30px 0px;
  -moz-order: 1;
  -o-order: 1;
  -ms-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
  width: 30%;
}

@media (max-width: 768px) {
  .l-sidebar {
    width: 100%;
  }
}

.l-sidebar .l-sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.l-sidebar .l-sidenav li a {
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

.l-sidebar .l-sidenav li a.active {
  background-color: #f25574;
  color: white;
}

.l-sidebar .l-sidenav li a:hover:not(.active) {
  background-color: #00aaf2;
  color: white;
}

.footer {
  background-color: #f5f5f5;
  padding: 30px 0 30px;
  margin: 30px 0 auto;
}

.footer .copy {
  margin: 30px 0 30px;
  text-align: center;
}

.c-form__input {
  color: #545454;
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.c-form__input-digits {
  width: 35%;
  -webkit-box-flex: 1;
          flex: 1;
}

.c-form__input-textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.c-form__input-date {
  width: 50%;
}

.c-form__inline-flex {
  display: -webkit-inline-box;
  display: inline-flex;
  line-height: 40px;
}

.c-form__heading {
  font-size: 24px;
  padding: 10px 15px 0 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

form img {
  width: 25%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #545454;
  padding: 1em;
  margin: 0;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
  text-align: center;
}

button[type=submit],
input[type=submit] {
  border: none;
  padding: 15px 30px;
  margin-bottom: 15px;
  background: #0000cd;
  color: white;
  float: right;
}

button[type=submit]:hover,
input[type=submit]:hover {
  background: #00aaf2;
  cursor: pointer;
}

a.btn {
  display: inline-block;
  font-size: 0.9em;
  width: 50px;
  margin-right: 20px;
  border: 1px;
}

a.btn-edit {
  background-color: #98fb98;
}

a.btn-edit:hover {
  background-color: #00aaf2;
  color: #fff;
}

a.btn-del {
  background-color: #ff69b4;
}

a.btn-del:hover {
  background-color: #00aaf2;
  color: #fff;
}

.btn-block {
  padding: 10px 0;
  display: -webkit-box;
  display: flex;
}

.tab-wrap {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tab-wrap:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #00aaf2;
  display: block;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.tab-label {
  color: #333;
  background: #f5f5f5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px 0.5em;
  -webkit-box-ordinal-group: 0;
          order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  -webkit-box-flex: 1;
          flex: 1;
}

.tab-label:not(:last-of-type) {
  margin-right: 5px;
}

.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

/* アクティブなタブ */

.tab-switch:checked + .tab-label {
  background: #00aaf2;
  color: white;
}

.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  -webkit-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

/* ラジオボタン非表示 */

.tab-switch {
  display: none;
}

.alert {
  color: red;
}

.c-pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.c-pagination li {
  display: inline-block;
}

.c-pagination li a {
  display: block;
}

.c-pagination-page-item,
.c-pagination-page-number {
  float: left;
  color: #000;
  padding: 4px 8px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.c-pagination-page-item:hover,
.c-pagination-page-item a:hover {
  background-color: #00aaf2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
}

.balloon {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

@media (max-width: 850px) {
  .balloon .faceicon {
    width: 60px;
  }
}

.balloon .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon .chatting {
  width: 540px;
}

@media (max-width: 850px) {
  .balloon .chatting {
    width: 330px;
  }
}

@media (max-width: 850px) {
  .balloon .chatting {
    width: 450px;
  }
}

.chat-user-name {
  padding-left: 100px;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

@media (max-width: 850px) {
  .says {
    margin: 5px 0 0 75px;
  }
}

.says :after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says .says p {
  margin: 0;
  padding: 0;
}

.form-m0a {
  margin: 0 auto;
}

@media (min-width: 769px) {
  .form-m0a {
    margin: 0 300px;
  }
}

.form-login a {
  display: block;
  margin: 40px 0 0;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

