.btn-default {
  display: block;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

button[type="submit"],
input[type="submit"] {
  border: none;
  padding: 15px 30px;
  margin-bottom: 15px;
  background: $color_corp;
  color: white;
  float: right;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: $color_corp-hover;
  cursor: pointer;
}
