.btn-default {
  display: block;
  width: 100%;
  line-height: $space_xxl;
  font-size: $font-size_m;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

button[type="submit"],
input[type="submit"] {
  border: none;
  padding: $space_l $space_xxl;
  margin-bottom: $space_l;
  background: $color_corp;
  color: white;
  float: right;

}
button[type="submit"]:hover,
input[type="submit"]:hover {
  background: $color_corp-hover;
  cursor: pointer;
}


a {
  &.btn {
    display: inline-block;
    font-size:0.9em;
    width:$space_4l;
    margin-right: $space_xl;
    border:1px;

    &-edit {
      background-color: #98fb98;
      &:hover {
        background-color: $color_corp-hover;
        color: #fff;
      }
    }
    &-del {
      background-color: #ff69b4;
        &:hover {
          background-color: $color_corp-hover;
          color: #fff;
        }
    }
  }

}

.btn-block {
  padding: 10px 0;
  display: flex;
}


.btn-animation-02 {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: $color_corp-hover;
  border: 2px solid $color_corp-hover;
  font-size: 16px;
  color: $color_corp-hover;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}

.btn-animation-02::before {
  left: 0;
}

.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}
