.balloon {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;

  .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;

      @include mq() {
        width: 60px;
      }
  }

  .faceicon img {
  width: 100%;
  height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }

  .chatting {
    width: 540px;
      @include mq() {
        width: 330px;
      }
      @include mq($breakpoint: md) {
        width: 450px;
      }
  }
}

.chat-user-name {
  padding-left: 100px;
}


.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
    @include mq() {
      margin: 5px 0 0 75px;
    }

  :after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }
  .says p {
    margin: 0;
    padding: 0;
  }
}


/* 吹き出し本体 */
.balloon1 {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: $font_color_default;
  background-color: #d7ebfe;
  margin-left: 90px;
  /* 左に余白を設ける */
  /* 画像 - 絶対配置で左上に配置 */
  .icon {
    position: absolute;
    left: -90px;
    top: 0;
    width: 65px;

    @include mq() {
      width: 40px;
    }
  }
}

.icon_name-left {
  float: left;
  padding-left: 5px;
  font-size: $font-size_s;
}

/* 三角アイコン */
.balloon1::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #d7ebfe;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* 吹き出し本体 */
.balloon2 {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: $font_color_default;
  background-color: $background-color_body;
  margin-right: 90px;
  /* 右に余白を設ける */

  /* 画像 - 絶対配置で右上に配置 */
  .icon {
    position: absolute;
    right: -90px;
    top: 0;
    op: 0;
    width: 65px;

    @include mq() {
      width: 40px;
    }
  }
}

.icon_name-right {
  float: right;
  padding-right: 5px;
  font-size: $font-size_s;
}

/* 三角アイコン */
.balloon2::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid $background-color_body;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
