.p-top {
  position: relative;
  overflow: hidden;
}

.p-top p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #fff;
  width: 75%;
  text-align: center;
}
.hero-title {
  font-size: 100px;
  bottom: 20px;
      @media (max-width: 768px) {
        font-size: 48px;
        bottom: 60px;
      }

      @media (max-width: 414px) {
        font-size: 16px;
        bottom: 40px;
      }
}
.hero-sub {
  font-size: 22px;
    @media (max-width: 768px) {
        font-size: 18px;
      }

      @media  (max-width: 414px) {
        font-size: 6px;
      }
}

.p-top img {
  width: 100%;
}
